/*Master Styles*/
body {
    margin: 0px;
    padding: 0px;
    font-family: "Quicksand", sans-serif;
}

.container {
    display: grid;
    grid-template-rows: 1fr;
}


/*Top Logo Style*/

.top-logo {
    background: white;
     
}
.top-logo > .logo{
    text-align: center;
}
/*Nav styles */
.nav-wrapper {
    postion: relative;
    top: -20px;
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

.left-side {
    display: flex;
}

.right-side{
    text-transform: uppercase;
    color: brown;
}

.nav-wrapper > .left-side > div {
    margin-right: 20px;
    font-size: 0.9em;
    text-transform: uppercase;
}

.nav-link-wrapper {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.nav-link-wrapper a {
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5;
}

.nav-link-wrapper:hover {
    border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover {
    color: black;
}

